.wrapper {
  display: flex;
  align-items: center;
  background-color: #202020;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 200px;
}

.logo {
  font-size: 23px;
  font-weight: 800;
}

.right {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
